body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .calculator {
    max-width: 300px;
    margin: 100px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
  }
  
  table button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    background-color: #B2A4FF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #93BFCF;
  }
  